* {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 1px;
}
.main-container {
  background: url("/images/second-page-background.webp") center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.second-container {
  text-align: center;
  padding: 20px;
  border: 1px solid #aae4e4;
  background: rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  color: white;
  display: flex;
  flex-direction: column;
}
.introduction {
  width: 100%;
  letter-spacing: 1px;
  line-height: 25px;
}
.introduction h1 {
  margin-bottom: 15px;
}
.headers {
  margin-top: 2em;
}
.home {
  margin-right: auto;
}
.footer {
  display: flex;
  justify-content: space-around;
}
.footer a {
  text-decoration: none;
  color: white;
  margin: 0 5px;
}
.footer i {
  font-size: 35px;
  transition: transform 0.3s ease-in-out;
}
.footer i:hover {
  transform: scale(1.2);
}
.skills {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.skills h2 {
  margin-bottom: 10px;
}
.skill {
  margin-top: 10px;
}
.progress-bar {
  width: 200px;
  background-color: #444;
  padding: 3px;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  transform: skewX(20deg);
}
.progress-bar-fill {
  display: block;
  height: 22px;
  background-color: #00d4d3;
  border-radius: 3px;
}
@media screen and (max-width: 600px) {
  .main-container {
    height: 100%;
  }
  .second-container {
    margin-top: 10%;
    padding: 10px;
    border: none;
  }
  .skills {
    flex-direction: column;
    margin: auto;
  }
  .main-skills {
    margin: 45px 0;
  }
  .footer { 
    margin-top: 50px;
  }
}
