* {
  margin: 0;
}
.main-container {
  background: url("/images/first-page-background.webp") center/cover no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
}
.buttons-container {
  margin: auto;
  position: relative;
  top: 20%;
  text-align: center;
}
.buttons-container button {
  margin: 0 5em;
}
.redirect {
  position: relative;
  background: #444;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 1rem 3rem;
  transition: 0.2s;
}

.redirect:hover {
  letter-spacing: 0.2rem;
  padding: 1.1rem 3.1rem;
  background: var(--clr);
  color: var(--clr);
  box-shadow: 0 0 35px var(--clr);
  animation: box 3s infinite;
}

.redirect::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #222222;
}

.redirect span {
  position: relative;
  z-index: 1;
}
.redirect i {
  position: absolute;
  inset: 0;
  display: block;
}

.redirect i::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 80%;
  top: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}

.redirect:hover i::before {
  width: 15px;
  left: 20%;
  animation: move 3s infinite;
}

.redirect i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 20%;
  bottom: -2px;
  border: 2px solid var(--clr);
  background: #272822;
  transition: 0.2s;
}

.redirect:hover i::after {
  width: 15px;
  left: 80%;
  animation: move 3s infinite;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
    box-shadow: 0 0 25px var(--clr);
  }
  100% {
    box-shadow: #27272c;
  }
}

@media screen and (max-width: 1350px) {
  .main-container {
    background: url("/images/first-page-background-mobile.webp") center/cover no-repeat;
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    margin: 0 4em;
  }

  .buttons-container button {
    margin: 4em 0;
  }

  .redirect {
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding: 1.5rem 4rem;
    transition: 0.2s;
  }
}